<h1>Cocktails#index</h1>

<h1>hello</h1>
<div class="container">

<div class="image"><%= cl_image_tag("uf6pimbzhmfwk8koa9gq.jpg", :width=>1024, :height=> 200,:crop=>"fill") %>
</div>

  <% @cocktails.each do |c| %>
<div class="card-product">
  <div class="card-product-infos">

    <h2><%= link_to c.name, cocktail_path(c.id)%></li></h2>

  </div>
</div>
<% end %>


<h3><%= link_to "Add Cocktail", new_cocktail_path, :class =>"btn btn-primary home" %></h3>

</div>

