<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>
<h1>hello</h1>
<div class="container">
<% @cocktails.each do |c| %>
<ul class="list-group"></ul>
<li class="list-group-item"> <%= link_to c.name, cocktail_path(c.id)%></li>
<% end %>
</div>

<%= link_to "Add a new Cocktail", new_cocktail_path %>
